<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css" ><link rel="icon" href="/img/wlogo.png" >
    <title>404 </title>
</head>
<body>

    <div class="main-content">

    {{>header}}
<p> {{errorM}}</p>
</div>

{{>footer}}

</body>
</html>