<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css" ><link rel="icon" href="/img/wlogo.png" >
    <title>About </title>
</head>
<body>

<div class="main-content" >
{{>header}}

<img src="/img/sat2.jpg" class="portrait">
</div>



<p class="indexHeader"> About us</p>
<p class="aboutText"><strong>Live-WeatherInfo</strong>  Ltd is a Indian-based tech company
     that provides weather and satellite data worldwide. It collects
      and processes raw data from a variety of sources, and gives its customers
      access to the data archive.

Technologies </p>


<p class="indexHeader"> Extreme Weather and Climate Change</p>
<p class="aboutText"> Weathering the Next Storm: A Closer Look at Business Resilience examines how companies
     are preparing for climate risks and what is keeping them from doing more. It also
      suggests strategies for companies and cities to collaborate to strengthen climate 
      resilience. It updates the groundbreaking report, Weathering the Storm, Building 
      Business Resilience to Climate Change,
     which provided a baseline for how companies were assessing their climate vulnerabilities.</p>
<p> {{>footer}}</p>
</body>
</html>