<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css" ><link rel="icon" href="/img/wlogo.png" >
    <title>Help </title>
</head>
<body>
<div class="main-content"> 

{{>header}}
<p> </p>


<p class="indexHeader"> Contact us</p>
<p class="aboutText"> 
      <ul >
        <li> <a href="#"> FAQ </a>  </li>  
          <li> <a href="#"> Fix problems </a>  </li> 
     <p>   <li> Make sure you've set your weather units in the Google
             Home app Google Home app. Note: This can’t be done using your voice. </li> </p>
          <p>      <li>Make sure you've set your work and home locations either in the Google 
                 Home app or in Google Maps. Note: This can’t be done using your voice.   </li>   </p>  
       <p>     <li>     Confirm your Google Nest or Home device address. </li> </p>  
           <p>   <li>If Google Home doesn't provide the information you requested, be
                more specific with your request.</li> </p>  

         </ul>
      </p>



</div>

{{>footer}}
</body>
</html>