
<header>
    <span id="animatedText"> Access current weather data for any location including over 200,000 cities.Current 
        weather is frequently updated based on global models and data from more than 40,000 weather stations 
         </span>
    <h1 class="headerStyle"> {{title}} </h1>
<a href='/'>Weather </a>
<a href='/about'>About </a>
<a href='/help'>Help </a>
</header>